
@keyframes changeColorLine{
    0% { background-color: #e1dfba; filter: drop-shadow( 0 0 2px #e1dfba );}
    100% { background-color: #d1331e; filter: drop-shadow( 0 0 2px #d1331e ); }
}

.conteinerDownload{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
    

.titleModalDownload{
    width: 90%;
    padding-bottom: 3vh;
    text-align: center;
    font-family: firstFont;
    color:#e1dfba;
    font-size: clamp(1.5em,3vw, 3em);
    border-bottom: solid 3px #e1dfba;
    filter: drop-shadow( 0 0 1px #e1dfba );
}
    
.conteinerOptions{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 2%;
}

.conteinerOptions h2{
    font-family: firstFont;
    font-size: clamp(1em,1.5vw, 1.5em);
    color: #e1dfba;
    letter-spacing: 0.08em;
    white-space: nowrap;
}
.conteinerOptions a{
    text-decoration: none;
    outline: none;
    border:none;
    filter: drop-shadow( 0 0 1px #e1dfba );
}
.conteinerOptions .downloadLink{
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
}

.conteinerBottomLine{
    width: 100%;
}

.lineBottomOptions{
    width: 0%;
    height: 2px;
    transition: all 2s ease-in-out;
    background-color: #e1dfba;
    filter: drop-shadow( 0 0 2px #e1dfba );
}

.conteinerOptions:hover .lineBottomOptions{
    width: 100%;
    transition: all 2s ease-in-out;
    animation: changeColorLine 2s ;
    background-color: #d1331e;
    filter: drop-shadow( 0 0 2px #d1331e );
}
