.conteinerDownload{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
    
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    width: 8vw;
    animation: float 4s ease-in-out infinite;
    filter: drop-shadow(0 0 1px #e1dfba );
}
.arrow img{
    object-fit: cover;
    object-position: center;
}
.rectangle{
    background-color:#e1dfba ;
    width: 10vw;
    height: 3vh;
    margin-top: 2vh ;
    margin-bottom: 4vh;
    filter: drop-shadow(0 0 1px #e1dfba );
}
.conteinerOptions{
    display: flex;
    width: 80%;
    border-bottom: solid 4px #e1dfba;
    margin-top: 2%;
    filter: drop-shadow(0 0 1px #e1dfba);
}
.conteinerOptions h1{
    font-family: secondFont;
    font-size: 1em;
    color:#e1dfba;
}
.conteinerOptions h2{
    font-family: firstFont;
    font-size: 1em;
    color: #e1dfba;
    letter-spacing: 0.08em;
}
.conteinerOptions a{
    text-decoration: none;
    outline: none;
    border:none;
    color:#e1dfba;
    font-family: secondFont;
}
.conteinerOptions .downloadLink{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: secondFont;
}

@media (max-width:800px){
    .conteinerDownload{
        padding-top: 20%;
    }
    .arrow{
        width:18vw;
    }
    .rectangle{
        width: 22vw;
        height: 2vh;
    }
    .conteinerOptions{
        border-bottom: solid 2px #e1dfba;
        width:90%;
        margin-top: 6%;
    }
    .conteinerOptions h1{
        font-size: 8px;
    }
    .conteinerOptions h2{
        font-size: 7px;
    }
}