
.conteinerPresentation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
} @media( max-width:800px){
    .conteinerPresentation{
        flex-direction:column-reverse;
        align-items: center;
    }
}
    
.conteinerText{
    display: flex;
    flex-direction: column;
    width: 60%;
    overflow: hidden;
} @media(max-width:800px){
    .conteinerText{
        width: 100%;
        margin-top: 4%;
    }
}

.professionTitle{
    font-size:8vw;
    margin:0;
    margin-bottom: -30px;
    cursor: pointer;
    color: #122824;
    transition: ease-in-out 0.5s;
} @media(max-width:800px){
    .professionTitle{
        font-size:13vw;
        margin-bottom: -10px;
    }
}

.professionTitle:hover {
    transform: translateY(-5px) scale(1.01) ;
    text-shadow: -3px 3px 6px rgba(0, 0, 0,0.2);
}

.conteinerImg{
    display: flex;
    width: 40%;
    height:100%;
    margin-left: 1%;
    overflow: hidden;
    border-radius: 5px;
} @media (max-width:800px){
    .conteinerImg{
        width: 100%;
        height: 38vh;
        margin-left: 0;
    }
}   .conteinerImg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position:center;
    }

.textPresentation{
    font-family: textFont;
    color: #122824;
    font-size: 18px;
    padding-right: 2%;
}

.dowloadButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vh;
    font-family: secondFont;
    background-color:#122824;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 10px;
    color: #fff1d9;
    cursor:pointer;
    border-radius: 5px;
    font-size: 1.3vw;
    transition: 0.5s;
}
@media(max-width:800px){
    .dowloadButton{
        width: 100%;
        height: 5vh;
        font-size: 10px;
        margin-bottom: 6%;
    }
}
.dowloadButton:hover{
    transform: translateY(-10%);
    transition: 0.5s;
}