
.conteinerPresentation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
} @media( max-width:800px){
    .conteinerPresentation{
        flex-direction:column-reverse;
        align-items: center;
    }
}
    
.conteinerText{
    display: flex;
    flex-direction: column;
    width: 60%;
    overflow: hidden;
} @media(max-width:800px){
    .conteinerText{
        width: 100%;
        margin-top: 2%;
    }
}

.profession{
    font-size:8vw;
    margin:0;
    margin-bottom: -15px;
    cursor: pointer;
    color: #122824;
} @media(max-width:800px){
    .profession{
        font-size:13vw;
        margin-bottom: -10px;
    }
}

.conteinerImg{
    display: flex;
    width: 40%;
    height:100%;
    margin-left: 1%;
    overflow: hidden;
    border: solid 4px #122824;
    border-radius: 5px;
} @media (max-width:800px){
    .conteinerImg{
        width: 100%;
        margin-left: 0;
        border: solid 2px #122824;
    }
}   .conteinerImg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position:center;
    }

