.conteinerCard{
    display:flex;
    position: relative;
    width: 18vw;
    height: 35vh;
    margin: 25px;
    border-radius: 5px;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
}

.conteinerCard:hover{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 45vh;
    transition: 0.5s;
    transition-delay: 0s;
    background-color: #122824;
    overflow: hidden;
}
.conteinerCard .circle{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width:100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    color: #122824;
}

.conteinerCard .circle::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: 0.5s;
}

.conteinerCard .circle .logo{
    position: relative;
    width: 20vw;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
    visibility: visible;
}

.conteinerCard:hover .circle .logo{
    transform: scale(0);
    transition-delay: 0s;
    transition: 0.5s;
    opacity: 1;
    visibility: hidden;
}
    
.conteinerCard .circle h2{
    align-self: center;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    border-bottom:solid 4px #122824;
    margin-top: 2%;
    padding-bottom: 2%;
    font-size: 2vw;
    color:#122824;
}
.conteinerCard:hover .circle h2{
    transform: scale(0);
    transition-delay: 0s;
    color: #122824;
}

.content{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    margin: 3%;
    width: 50%;
    height: 90%;
    opacity: 0;
    transition:0.5s;
    visibility: hidden;
    color:#fff1d9;
    transition: 0.5s;
    transform: scale(0);
}
.conteinerCard:hover .content{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    transition-delay:0.5s;
    transform: scale(1);
}
.contentTitle h2{
    border-bottom: solid 3px #fff1d9;
    width: 100%;
    font-size: 2.2vw;
    margin: 0;
}
.contentTitle h3{
    font-size: 1vw;
    font-family: textFont;
    letter-spacing:0.2em;
    margin-top: 2%;
    margin-bottom: 2%;
}
.conteinerCard .image{
    display: flex;
    align-items: center;
    justify-content: center;
    width:40%;
    transform: translate(50%,0%) scale(0);
    transition:0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}
.conteinerCard:hover .image{
    transform: translate(0%,0%) scale(1); 
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
    visibility: visible;
    margin:20px;
}
.conteinerCard .image img{
    width: 18vw;
    transform: scale(0);
    transition: 0.8s;
    opacity:0;
    visibility: 0;
}
.conteinerCard:hover .image img{
    width: 18vw;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform:scale(1);
    opacity: 1;
    visibility: visible;
}



.buttonLink{
    display: flex;
    position: relative;
    border:solid 2px #fff1d9;
    border-radius: 5px;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    font-size: x-large;
    padding-top: 3%;
    padding-bottom: 2%;
    color:#fff1d9;
    transition: 0.5s;
    hyphens:none;
}
.buttonLink:hover{
    transform: translate(0%,-10%);
}




@media (max-width:800px){
    .conteinerCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 45vh;
        margin-top: 4%;
    } 
    .conteinerCard:hover{
        width: 90%;
        height: 40vh;
        margin-top: 10vh;
        display: flex;
        flex-direction: column-reverse;
        background-color: #122824;
        
        overflow: visible;
    }
    .conteinerCard .circle .logo{
        width:85vw;
    }
    .conteinerCard .image{
        transform: translate(50%,0%) scale(0);
        transition:0.5s;
    }
    .conteinerCard:hover .image{
        display: flex;
        width: 90%;
        overflow: visible;
        transform: translate(0%,-25%) scale(1);
        transition: 0.5s;
    }
    .conteinerCard:hover .image img{
        width: 90%;
    } 
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:90%;
        transform: translateY(80%);
        transition: 0.5s;
        color: #fff1d9;
        width: 90%;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
    .conteinerCard:hover .content{
        width: 90%;
        transform: translateY(-20%);
        transition: 0.5s;
    }
    .contentTitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .contentTitle h2{
        text-align: center;
        border-bottom: solid 2px #fff1d9;
        width: 100%;
        font-size: 6vw;
        margin: 0;
    }   
        
    
    .conteinerCard .circle h2{
        font-size: 6vw;
    }
    .buttonLink{
        margin-top: 5px;
        margin-bottom: 25px;
    }
}
