
.containerNames{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    margin-top: 10vh;
    width:50%;
    height: 20vh;
    color:#e1dfba;
}

.containerNames h1{
    margin: 0;
    padding: 0;
    filter: drop-shadow( 0 0 1.2px #e1dfba );
    cursor:default;
}
.name{
    display:flex;
    width: 40%;
    justify-content:flex-end;
    font-family: 'secondfont';
    text-align:end;
    color: #e1dfba;
    font-size: 3em;
    transform: translate(-1vw,7.5vh);
} 
.lastname{
    display: flex;
    width: 60%;
    align-self: flex-end;
    justify-content:flex-end;
    align-items:center;
    font-family: "firstFont";
    color:#e1dfba;
    font-size: 7.6em;
    transform: translate(2.5vw,2vh);
    letter-spacing: 0.03em;
}

.lineNames{
    display: flex;
    align-self:flex-end;
    justify-self:flex-end;
    width: 0vw;
    border: solid 2px #e1dfba;
    filter: drop-shadow(0 0 1.2px  #e1dfba );
}

@media (max-width:850px){
    .containerNames{
        width: 55%;
        height: 11vh;
        justify-content: center;
    }
    .name{
        width: 50%;
        font-size:1em;
        transform: translate(5vw,2vh);
    }
    .lastname{
        width: 50%;
        font-size:4em;
        letter-spacing: 0.06em;
    }
}

