.containerInformation{
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.imageJuan{
    display: flex;
    position: absolute;
    height:30vh;
    width:auto;
    object-fit: contain;
    top:15vh;
    left:15vw;
    clip-path: inset(100% 0 0 0);
    transition: clip-path 1s ease-in-out;
    opacity: 0;
}

.containerNames{
    display: flex;
    flex-direction: column;
    width:90vw;
    color:#e1dfba;
}

.containerNames h1{
    margin: 0;
    padding: 0;
    filter: drop-shadow( 0 0 1.2px #e1dfba );
    cursor:default;
}

.name{
    display:flex;
    flex-direction: row-reverse;
    width: 15%;
    font-family: 'secondfont';
    font-size: 1.8em;
    color: #e1dfba;
    opacity: 0;
    letter-spacing: 0.8em;
    transform: translateY(1em);
}

.lastname{
    display: flex;
    flex-direction: row-reverse;
    width: 45%;
    font-family: "firstFont";
    font-size: 3.5em;
    color:#e1dfba;
    letter-spacing: 1em;
    opacity: 0;
}

.containerLine{
    display: flex;
    width: 90vw;
    align-self: center;
    justify-self: center;
}

.line{
    display: flex;
    opacity: 0;
    width: 0;
    border: solid 2px #e1dfba;
    filter: drop-shadow(0 0 1.5px  #e1dfba );
}

@media ( width <= 780px ){

    .containerNames{
        position: absolute;
        bottom: 15vh;
        justify-self: center;
        align-self: center;
    }

    .imageJuan{
        left: 5vw;
        top:25vh;
    }
    
    .name{
        width: 40%;
        font-size: 1em;
        justify-content: start;
    }

    .lastname{
        width: 80%;
        font-size: 1.9em;
    }
    
} 

