
.conteinerGradient{
    display:flex;
    justify-content: flex-end;
    overflow: hidden;
    min-width: 100vw;
}
.gradient{
    width: 100%;
    height: 30vh;
    transform: translateX(-100%);
    opacity: 0;
    background-image:linear-gradient(90deg, #e1dfba 10%, #d1331e 80% );
}

@media ( width <= 780px ){
    .gradient{
        height: 15vh;
    }
}
