
.gradient{
    width: 50%;
    height: 35vh;
    align-self: flex-end;
    background-image:linear-gradient(90deg, #e1dfba 10%, #d1331e 80% );
}

@media (max-width:800px){
    .gradient{
        width: 45%;
        height: 30vh;
    }
}