
.conteinerSubNav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 95%;
    height: 8%;
    margin-top: 1%;
} @media( max-width:500px){
    .conteinerSubNav{
        height: 5%;
        margin-top: 3%;
    }
}

.conteinerPortfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px #122824;
    border-radius: 5px;
    height: 100%;
    width: 150px;
    font-family: secondFont;
    font-size: 22px;
    color:#122824;
} @media(max-width:500px){
    .conteinerPortfolio{
        width:100px;
        font-size: 14px;
    }
}