.conteinerReveal{
    display: flex;
    flex-direction:row-reverse;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
}

.first{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    width: 100vw;
    height: 100vh;
}
.textReveal{
    opacity: 0;
    margin: 0;
    padding: 0;
}

.welcome{
    font-family: 'firstFont';
    font-size: 3em;
}

.portfolio{
    position:absolute;
    top: 5vh;
    font-family: 'secondFont';
    font-size: 0.7em;
}

.by{
    position: absolute;
    bottom:5vh;
    font-family: 'secondFont';
    font-size: 0.7em;
}

.block {
    width: 5%;
    background: #e1dfba;
}

.block-1 {
    right: 95%;
}

.block-2 {
    right: 90%;
}

.block-3 {
    right: 85%;
}

.block-4 {
    right: 80%;
}

.block-5 {
    right: 75%;
}

.block-6 {
    right: 70%;
}

.block-7 {
    right: 65%;
}

.block-8 {
    right: 60%;
}

.block-9 {
    right: 55%;
}

.block-10 {
    right: 50%;
}

.block-11 {
    right: 45%;
}

.block-12 {
    right: 40%;
}

.block-13 {
    right: 35%;
}

.block-14 {
    right: 30%;
}

.block-15 {
    right: 25%;
}

.block-16 {
    right: 20%;
}

.block-17 {
    right: 15%;
}

.block-18 {
    right: 10%;
}

.block-19 {
    right: 5%;
}

.block-20 {
    right: 0%;
}


