
.conteinerSkills{
    display: flex;
    justify-self: center;
    justify-content: space-between;
    margin-top: 1vh;
    width: 90vw;
}

.skill{
    margin-top: 0.3vh;
    font-family: 'secondFont';
    letter-spacing: 0.03em;
    font-weight: 600;
    font-size: 0.9em;
    color: #e1dfba;
    filter: drop-shadow( 0 0 1px #e1dfba );
    cursor: pointer;
    transition:0.5s ease-in-out;
    opacity: 0;
    transform: translateY(2vh);
}

.skill:hover{
    transition:0.5s ease-in-out;
    letter-spacing: 0.2em;
}