
.conteinerSkills{
    display: flex;
    justify-self: center;
    margin-top: 2vh;
    width: 90vw;
}

.conteinerSkills h3{
    margin: 0;
    margin-top: 0.1em;
    font-family: 'secondFont';
    font-size: 1.1em;
    letter-spacing: 0.04em;
    color: #e1dfba;
    filter: drop-shadow( 0 0 0.5px #e1dfba );
    cursor: pointer;
    transition:0.5s ease-in-out;
}

.conteinerSkills h3:hover{
    color:#d1331e;
    transform: translateY(-1vh);
    transition:0.5s ease-in-out;
}