
@keyframes float {
	0% { transform: translatey(0px); }
	50% { transform: translatey(-7px); }
	100% { transform: translatey(0px); }
}
.conteinerContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
}
.lineBottom{
    width:90%;
    height: clamp(1.5px,0.2em,3px);
    background-color: #e1dfba;
    align-self: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
    filter: drop-shadow(0 0 1.2px #e1dfba );
}
.titleContact{
    font-family: firstFont;
    font-size: clamp(2.3em,3.5vw, 3.5em);
    margin: 0;
    padding: 0;
    color: #e1dfba;
    filter: drop-shadow(0 0 1.5px #e1dfba );
    width: 90%;
    text-align: center;
    letter-spacing: 0.04em;
}   
    
.conteinerIcons{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: 1fr, 1fr ;
    justify-items: center;
    row-gap: 1em;
    width: 80%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    width:clamp( 4em, 12vw, 6em);
    transition: all 0.5s ease-in-out;
} 
.links img{
    width: clamp( 2.5em, 5vw, 4em);
    object-fit: cover;
    object-position: center;
    margin-left: 1%;
    filter: drop-shadow(0 0 1px #e1dfba );
    transition: all 0.5s ease-in-out;
    animation: float 6s ease-in-out infinite;
} 
.links:hover{
    transform: scale(1.1) translateY(-1.2px);
    transition: all 0.5s ease-in-out;
} 
.links h2{
    font-family: "secondFont";
    font-size: clamp(0.7em, 1vw,1.5em);
    text-shadow: 0 0 2px #e1dfba;
    color:#e1dfba;
} 
