
@keyframes float {
	0% { transform: translatey(0px); }
	50% { transform: translatey(-10px); }
	100% { transform: translatey(0px); }
}
.conteinerContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.lineBottom{
    width:90%;
    border: solid 2px #e1dfba;
    align-self: center;
    margin-bottom: 2vh;
    filter: drop-shadow(0 0 1.2px #e1dfba );
}
.conteinerContact h1{
    font-family: firstFont;
    font-size: 4em;
    margin: 0;
    padding: 0;
    color: #e1dfba;
    filter: drop-shadow(0 0 1.5px #e1dfba );
    width: 95%;
    text-align: center;
    letter-spacing: 0.04em;
}   
    
.conteinerIcons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.divisionIcons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 50%;
    margin-bottom: 2%;
} 
.links{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    width: 15vw;
    height: 100%;
    margin-right: 1%;
    transition: all 0.5s ease-in-out;
} 
.links img{
    width:4vw;
    object-fit: cover;
    object-position: center;
    margin-left: 1%;
    filter: drop-shadow(0 0 1px #e1dfba );
    transition: all 0.5s ease-in-out;
    animation: float 6s ease-in-out infinite;
} 
.links:hover{
    transform: scale(1.2) translateY(-1.5px);
    transition: all 0.5s ease-in-out;
} 
.links h2{
    font-family: "secondFont";
    font-size: 1em;
    text-shadow: 0 0 2px #e1dfba;
    color:#e1dfba;
} 

@media(max-width:800px){
    .conteinerContact{
        height: 40vh;
    }
    .links{
        font-size: 0.5em;
        width: 20vw;
    }
    .links img{
        width: 6vw;
        
    }
    .divisionIcons{
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 40%;
    }
    .conteinerContact h1{
        padding-bottom: 2%;
        font-size: 2.5em;
    }
}