
.conteinerLenguage {
    display:flex;
    position: absolute;
    bottom: 2vh;
    flex-direction: row;
    align-self: center;
    justify-content:space-around;
    font-family: 'secondFont';
    color:#e1dfba;
    font-size: 0.6rem;
    font-weight:200;
    width:20vw;
    flex-wrap:wrap;
}

