
.conteinerLenguage {
    display:flex;
    position: absolute;
    bottom: 2vh;
    flex-direction: row;
    align-self: center;
    justify-content:space-around;
    font-family: 'secondFont';
    color:#e1dfba;
    font-size: 0.6rem;
    font-weight:200;
    width:20vw;
    flex-wrap:wrap;
}

.line{
    width: 90vw;
    align-self: center;
    border: 2px solid #e1dfba;
}

.conteinerSkills{
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 90vw;
}

.skill{
    font-family: 'secondFont';
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    color: #e1dfba;
}