.conteinerProyects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titleScreenProyects{
    font-family: firstFont;
    font-size: clamp(2.3em,4vw, 4em);
    letter-spacing: 0.02em;
    margin: 0;
    padding-bottom: 0.3em;
    color: #e1dfba;
    width: 90%;
    text-align: center;
    border-bottom:solid 3px #e1dfba;
    filter: drop-shadow( 0 0 1px #e1dfba);
}

.proyectsList{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    gap: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.cardProyect{
    border: solid 3px #d1331e ;
    background-image:linear-gradient(90deg, #d1331e 30%, #161410  80% );
    filter: drop-shadow( 0 0 2px #d1331e);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.cardProyect:hover{
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}

.titleCardProyect{
    font-family: firstFont;
    font-size: clamp(1.8em,3vw, 3em);
    letter-spacing: 0.02em;
    padding-left: 0.2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    white-space: nowrap;
    margin: 0;
    color: #e1dfba;
    border-bottom: solid 0.08em #e1dfba ;
    background-image:linear-gradient(90deg, #161410 30%, #d1331e 80% );
}

.subTitleCardProyect{
    font-family: secondFont;
    font-size: clamp(0.8em,1.2vw, 2em);
    letter-spacing: 0.04em;
    white-space: nowrap;
    text-align: end;
    margin: 0;
    color: #e1dfba;
    filter: drop-shadow( 0 0 0.8px #e1dfba);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0.3em;
}

@media( max-width:700px ){
    .proyectsList{
        width: 80%;
        grid-template-columns: 1fr;
    }
    .cardProyect{
        display:grid;
        grid-template-rows:1fr 0.6fr;
        min-height: 14vh;        
    }
    .titleCardProyect{
        display: flex;
        align-items: center;
    }
    .subTitleCardProyect{
        display:flex;
        align-items: center;
        justify-content: right;
    }
        
    .titleScreenProyects{
        border-bottom:solid 2px #e1dfba;
    }
}
    