.conteinerTools{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
}

.iconText{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:center;
    cursor: pointer;
    width: 20%;
}
.iconText img{
    height: 35px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1vh;
}
.iconText h3{
    font-family: textFont;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}
.iconText:hover h3{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}