 .App{
   display:flex;
   flex-direction: column;
   background-color: #161410;
   width: 100%;
   min-width: 100vw;
   height: 100vh;
}

.conteinerApp{
   display:flex;
   flex-direction: column;
}  