
.conteinerLenguajes{
    display:flex;
    position: absolute;
    bottom: 3vh;
    width: 40vw;
    align-self: center;
    justify-content:space-between;
    font-family: 'secondFont';
}  

.conteinerLenguajes h1{
    color: #e1dfba;
    font-size: 0.7em;
    cursor: pointer;
    filter: drop-shadow(0 0 1px #e1dfba);
    transition: 0.8s ease-in-out;
} 

/* @media(max-width:800px){
    .conteinerLenguajes{
        padding-left: 3%;
        padding-right: 3%;
    }
} */
