
.conteinerLenguajes{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    border: solid 4px #281812;
    border-radius: 5px;
    font-family: secondFont;
    padding-left: 2%;
    padding-right: 2%;
}   @media(max-width:800px){
    .conteinerLenguajes{
        border: solid 2px #122824;
        padding-left: 3%;
        padding-right: 3%;
    }
}

.conteinerLenguajes h1{
    color: #122824;
    font-size: 2vw;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
} 
.conteinerLenguajes h1:hover{
    transform: translateY(-10%) ;
}
