
.conteiner{
    display: flex;
    justify-content:space-between;
    align-self: center;
    align-items:flex-end;
    width: 90vw;
    height: 8vh;
    margin-bottom: 4vh;
    transition: 0.5s;
}   @media (max-width:800px){
    .conteiner{
       
        margin-bottom: 1vh;
    }
}

.squarePortfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-family:'secondFont';
    color: #e1dfba;
    font-size: 0.7rem;
    border:solid 2px #e1dfba;
    text-decoration: none;
}

.squareContac{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #161913;
    font-family: 'secondFont';
    color: #e1dfba;
    font-size: 0.7rem;
    border:solid 2px #e1dfba;
    text-decoration: none;
    cursor: pointer;
}


    


