
.conteiner{
    display: flex;
    justify-content:space-between;
    align-self: center;
    align-items:flex-end;
    width: 90vw;
    height: 8vh;
    margin-bottom: 4vh;
    transition-delay: 0.5s;
    transition: all 0.9s ease-in-out;
}
   /* @media (max-width:800px){
    .conteiner{
       
        margin-bottom: 6vh;
    }
} */
.squarePortfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    font-family:'secondFont';
    color: #e1dfba;
    font-size: 0.7rem;
    border:solid 2px #e1dfba;
    box-shadow: 0 0 2px #e1dfba;
    text-shadow: 0 0 2px #e1dfba;
    background-color: #161913;
    transition: all 0.5s ease-in-out;
}
.squarePortfolio:hover{
    color:#d1331e ;
    text-shadow:  0 0 2px #d1331e;
    transition: all 0.5s ease-in-out;
}

.squareContac{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #161913;
    font-family: 'secondFont';
    color: #e1dfba;
    font-size: 0.7rem;
    border:solid 2px #e1dfba;
    box-shadow: 0 0 2px #e1dfba;
    text-shadow: 0 0 2px #e1dfba;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.squareContac:hover{
    color:#d1331e;
    text-shadow: 0 0 2px #d1331e;
    transition: all 0.5s ease-in-out;
}

    



    


